/*BEGIN Xbox One Controller Styling*/
.controller.xbox {
   background: url(https://github.com/Narcolepticnard/Narcolepticnard.github.io/blob/main/Cntroler%20overlay/base-white.png);
    height: 630px;
    width: 750px;
    /*    margin-left: -375px;
        margin-top: -285px;*/
}

